.haikei{
      text-align:  center;    
    border: solid px;     
    background-image: url(https://raw.githubusercontent.com/dfv1/https-dfvv100008.github.io/main/image-garage-14-IMG_2195_2.jpg);     /* 背景画像指定 */
    background-repeat:  no-repeat;          /* 背景の繰り返し設定 */
      background-size: cover;
}
